html,body{margin:0;padding:0;height:100%;background:white;min-height:100% !important;}
#content_wrapper{padding:3px 3px 0px 3px;position:relative;top:0px;}
#mzts-main-error{align-items:center;float:left;display:none;color:red;font-weight:bold;font-size:24px;height:28px;width:80%;text-align:center;margin:auto;}
.mzts-desc{word-wrap:break-word;width:90%;}
.chart_info{font-size:0.8em;margin-bottom:0;}
.chart_info_nomail{display:none;}
#mzts-idnt_sel{float:left;display:flex;align-items:center;height:28px;font-size:0.8em;z-index:105;}
#mzts-idnt_sel select{z-index:inherit;}
#mzts-idnt_sel button{z-index:inherit;}
#mzts-setup_icon{float:right;cursor:pointer;display:flex;align-items:center;height:28px;}
table.mzts-tinvolved{width:100%;text-align:right;}
table.mzts-tinvolved tr.mzts-thead{padding:2px;font-weight:bold;background:steelblue;color:#bae0fa;}
table.mzts-tinvolved tr.mzts-thead td{padding:2px 4px 2px 2px;}
table.mzts-tinvolved tr.mzts-thead td.mzts-row-num{text-align:center;}
table.mzts-tinvolved tr.mzts-trow:nth-child(odd){background:white;}
table.mzts-tinvolved tr.mzts-trow:nth-child(even){background:#bae0fa;}
table.mzts-tinvolved tr.mzts-trow td{padding:2px 4px 2px 2px;color:black;white-space:-moz-pre-wrap !important;word-break: break-all;}
table.mzts-tinvolved tr.mzts-trow td.mzts-row-num{text-align:center;word-break:normal;}
.circle_wait{text-align:center;width:100%;position:absolute;}
span.additional_info_text{color:grey;font-size:0.8em;}
p.additional_info_text::first-letter{text-transform:uppercase;}
p.additional_info_text{margin-bottom:0px;}
span.invisible_text{color:rgba(242,242,240,0);}
span.outlink{color:blue;text-decoration:underline;cursor:pointer;}
.mzts-sel-account{font-weight:bold;}
.mzts-sel-identity{padding-left:30px;}
#mzts-updates{float:right;font-size:0.75em;align-items:center;height:28px;text-align:right;margin-top:-1px;position:absolute;right:32px;z-index:102;}
#mzts-idx_update{float:left;width:100%;}
#mzts-last_msg{float:left;width:100%;margin-top:-3px;}
.inbox0_inboxmsg_unread{color:grey;}
#customqry_totaldays_text{display:none;margin-left:30px;font-size:0.90em;color:gray;}
#customqry_sent_wait{display:none;}
#customqry_rcvd_wait{display:none;}
#customqry_recipients_wait{display:none;}
#customqry_senders_wait{display:none;}

#heading_wrapper {
  display: table;
  table-layout: fixed;
  position: fixed;
  width: -moz-available;
  background-image: -moz-linear-gradient(rgba(242,242,240,0),    /*#94b6db*/
                                         rgba(242,242,240,.25)); /*#78a3d1*/
  background-color: Highlight;
  color: HighlightText; /*white*/
  z-index: 101;
  padding:2px;
  top:0px;
  height:24px;
}

#heading {
  display: table-cell;
  margin: 0;
  padding: 1ex;
  white-space: nowrap;
  font-size: large;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table_today,#table_yesterday,#table_7days,#table_info,#table_customqry {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tier1 {
  display:table-row;
  height:350px;
}

.tier2 {
  display:table-row;
  height:100%;
}

.chunk {
  display: table-cell;
  width: 50%;
  min-height:48%;
  padding: 4px;
  vertical-align: top;
  position:relative;
}

#tier1_today .chunk,#tier1_yesterday .chunk,#tier1_7days .chunk,#tier1_info .chunk,#tier1_customqry .chunk {
  padding-top: 0;
}

#top_left_chunk_today,#top_left_chunk_yesterday,#top_left_chunk_7days,#top_left_chunk_info,#top_left_chunk_customqry {
  background-color: #f1f9fd; /*#f2f2f0*/
}

#bottom_right_chunk_today,#bottom_right_chunk_yesterday,#bottom_right_chunk_7days,#bottom_right_chunk_info,#bottom_right_chunk_customqry {
  background-image: -moz-linear-gradient(#f1f9fd 75%, #ffffff); /*242,242,240,1), rgba(242,242,240,0)*/
}

.list_heading_wrapper {
  color: -moz-nativehyperlinktext; /*#2F61A1*/
  padding: 0;
  -moz-padding-start: 2px;
  -moz-padding-end: 0;
}

.list_heading {
  font-size: medium;
  font-weight: bold;
  margin: 0;
}

.list_heading_date{
  font-size:12px;
  font-weight:normal;
  color:grey;
}

.cropped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -moz-min-content;
  max-width: -moz-available;
  margin-top:10px;
}

/*----- Tabs -----*/
.tabs {
width:100%;
display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
display:block;
clear:both;
content:'';
}

ul.tab-links{
margin-bottom:0;
}

.tab-links li {
margin:0px 5px;
float:left;
list-style:none;
}

.tab-links a {
padding:9px 15px;
display:inline-block;
border-radius:3px 3px 0px 0px;
background:#7FB5DA;
font-size:16px;
font-weight:600;
color:#4c4c4c;
transition:all linear 0.15s;
}

.tab-links a:hover {
background:#a7cce5;
text-decoration:none;
}

li.active a, li.active a:hover {
background-color: #f1f9fd; /*#f2f2f0*/
color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
/*padding:15px;
border-radius:3px;
box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
background:#fff;
}

.tab {
display:none;
}

.tab.active {
display:block;
}

#customqry_dashboard{width:100%;background-color:#f1f9fd;font-size:0.9em;height:32px;vertical-align:middle;padding-top:3px;}
._7days_aggregate_data{
  font-size:0.9em;
  font-weight:normal;
  color:grey;
  float:right;
}

#customqry_aggregate_data_sent,#customqry_aggregate_data_rcvd{display:none;}
#_7days_sent_today,#_7days_rcvd_today{display:none;text-transform: lowercase;}
.customqry_datepicker{display:inline;}

ul.tab-links li a,
h2.list_heading{text-transform:capitalize;}
p.chart_info_nomail{text-transform:lowercase;}
p.chart_info_nomail::first-letter{text-transform:uppercase;}

p.mzts-bold{font-weight:bold;text-align:center;}

#mzts-debugger-warn{
display:none;
position:absolute;
top:2px;
right:2px;
font-size:80%;
width:50%;
color:white;
padding:4px;
background-color:#E30000;
-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:#B3B3B3 5px 5px 5px;-moz-box-shadow:#B3B3B3 5px 5px 5px;box-shadow: #B3B3B3 5px 5px 5px;
}

#mzts-debugger-warn-btn{
width:100%;
text-align:center;
}

#mzts-debugger-warn-close{position:absolute;top:0px;right:5px;font-weight:bold}

