row{padding:1px;}
.ts_field_label{word-wrap:normal;max-width:550px;}
.mzts-debugger-log{font-family:"courier new";min-height:300px;min-width:500px;  height: 300px;}
.mzts-debugger-user-msg{font-family:"courier new";min-height:100px;min-width:500px; height: 100px;}