.chart_7days{width:100%;}

.chart_7days svg,.chart_inbox0_datemsg svg{
display:block;
margin:0 auto;
}

.chart_7days rect {
  fill: steelblue;
}

.chart_7days text.data_label {
  fill: white;
  font: 12px sans-serif;
  text-anchor: middle;
  font-weight:bold;
}

.chart_7days text.zero_data_label {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
  font-weight:bold;
}

.chart_7days text.xAxis{
font:12px sans-serif;
fill:black;
}

.chart_7days .axis text{
display:none;
}

.chart_7days .y.axis text,.chart_inbox0_datemsg .y.axis text{
font:12px sans-serif;
display:inherit;
fill:black;
font-weight:normal;
}

.chart_7days .y.axis,.chart_inbox0_datemsg .y.axis{padding-top:10px;}

.chart_7days .axis path,.chart_7days .axis line,.chart_inbox0_datemsg .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart_inbox0_datemsg{float:right;}

.chart_inbox0_datemsg text {
  font: 12px sans-serif;
  text-anchor: middle;
}