.chart_7days rect {
  fill: steelblue;
}

.chart_7days text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: middle;
  font-weight:bold;
}

.chart_7days text.xAxis{
font-size: 12;
font-family: Helvetica, sans-serif;
fill:black;
}
