html,body{margin:0;padding:0;height:100%;background:white;min-height:100% !important;}
#content_wrapper{padding:3px 3px 0px 3px;position:relative;top:0px;}
#mzts-main-error{align-items:center;float:left;display:none;color:red;font-weight:bold;font-size:24px;height:28px;width:80%;text-align:center;margin:auto;}
.mzts-desc{word-wrap:break-word;width:90%;}
.chart_info{font-size:0.8em;margin-bottom:0;}
.chart_info_nomail{display:none;}
#mzts-idnt_sel{float:left;display:flex;align-items:center;height:28px;font-size:0.8em;}
#mzts-updates{float:right;font-size:0.75em;margin-right:10px;align-items:center;height:28px;text-align:right;margin-top:-2px}
#mzts-setup_icon{float:right;cursor:pointer;display:flex;align-items:center;height:28px;}
table.mzts-tinvolved{width:100%;text-align:right;}
table.mzts-tinvolved tr.mzts-thead{padding:2px;font-weight:bold;background:grey;}
table.mzts-tinvolved tr.mzts-thead td{padding:2px 4px 2px 2px;}
table.mzts-tinvolved tr.mzts-thead td.mzts-row-num{text-align:center;}
table.mzts-tinvolved tr.mzts-trow:nth-child(odd){background:white;}
table.mzts-tinvolved tr.mzts-trow:nth-child(even){background:lightgrey;}
table.mzts-tinvolved tr.mzts-trow td{padding:2px 4px 2px 2px;color:black;white-space:-moz-pre-wrap !important;word-break: break-all;}
table.mzts-tinvolved tr.mzts-trow td.mzts-row-num{text-align:center;word-break:normal;}
.circle_wait{text-align:center;width:100%;position:absolute;}
.chart_7days{overflow:auto;}
.chart_inbox0{overflow:auto;width:100%;height:310px;}
.yesterday_incremental{color:grey;font-size:0.8em;}
span.outlink{color:blue;text-decoration:underline;cursor:pointer;}
.mzts-sel-account{font-weight:bold;}
.mzts-sel-identity{padding-left:30px;}

#heading_wrapper {
  display: table;
  table-layout: fixed;
  position: fixed;
  width: -moz-available;
  background-image: -moz-linear-gradient(rgba(242,242,240,0),    /*#94b6db*/
                                         rgba(242,242,240,.25)); /*#78a3d1*/
  background-color: Highlight;
  color: HighlightText; /*white*/
  z-index: 2;
  padding:2px;
  top:0px;
  height:24px;
}

#heading {
  display: table-cell;
  margin: 0;
  padding: 1ex;
  white-space: nowrap;
  font-size: large;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table_today,#table_yesterday,#table_7days,#table_info {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tier1 {
  display:table-row;
  height:350px;
}

.tier2 {
  display:table-row;
  height:100%;
}

.chunk {
  display: table-cell;
  width: 50%;
  min-height:48%;
  padding: 1ex;
  vertical-align: top;
  position:relative;
}

#tier1_today .chunk,#tier1_yesterday .chunk,#tier1_7days .chunk,#tier1_info .chunk {
  padding-top: 0;
}

#top_left_chunk_today,#top_left_chunk_yesterday,#top_left_chunk_7days,#top_left_chunk_info {
  background-color: rgba(125,125,105,.1); /*#f2f2f0*/
}

#bottom_right_chunk_today,#bottom_right_chunk_yesterday,#bottom_right_chunk_7days,#bottom_right_chunk_info {
  background-image: -moz-linear-gradient(rgba(125,125,105,.1) 75%, rgba(125,125,105,0)); /*242,242,240,1), rgba(242,242,240,0)*/
}

.list_heading_wrapper {
  color: -moz-nativehyperlinktext; /*#2F61A1*/
  padding: 0;
  -moz-padding-start: 2px;
  -moz-padding-end: 0;
}

.list_heading {
  font-size: medium;
  font-weight: bold;
  margin: 0;
}

.list_heading_date{
  font-size:12px;
  font-weight:normal;
  color:grey;
}

.cropped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -moz-min-content;
  max-width: -moz-available;
  margin-top:10px;
}

/*----- Tabs -----*/
.tabs {
width:100%;
display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
display:block;
clear:both;
content:'';
}

ul.tab-links{
margin-bottom:0;
}

.tab-links li {
margin:0px 5px;
float:left;
list-style:none;
}

.tab-links a {
padding:9px 15px;
display:inline-block;
border-radius:3px 3px 0px 0px;
background:#7FB5DA;
font-size:16px;
font-weight:600;
color:#4c4c4c;
transition:all linear 0.15s;
}

.tab-links a:hover {
background:#a7cce5;
text-decoration:none;
}

li.active a, li.active a:hover {
background-color: rgba(125,125,105,.1); /*#f2f2f0*/
color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
/*padding:15px;
border-radius:3px;
box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
background:#fff;
}

.tab {
display:none;
}

.tab.active {
display:block;
}
