.chart_7days{width:100%;}

.chart_7days svg{
display:block;
margin:auto;
}

.chart_7days rect {
  fill: steelblue;
}

.chart_7days text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: middle;
  font-weight:bold;
}

.chart_7days text.xAxis{
font:12px sans-serif;
fill:black;
}

.chart_7days .axis text{
display:none;
}

.chart_7days .y.axis text{
display:inherit;
fill:black;
font-weight:normal;
}

.chart_7days .axis path,.chart_7days .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
