@import './base.css';

#heading_wrapper {
    display: table;
    table-layout: fixed;
    position: fixed;
    width: -moz-available;
    background-image: -moz-linear-gradient(rgba(242,242,240,0),    /*#94b6db*/
                                           rgba(242,242,240,.25)); /*#78a3d1*/
    background-color: Highlight;
    color: HighlightText;
    z-index: 1000;
    top:0px;
    height:24px;
  }
  
#mzts-setup_icon{float:right;cursor:pointer;display:flex;align-items:center;height:28px;position:relative;top:0px;right:7px;}
#mzts-account-sel{
  float: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 28px;
}
#account_selector{
  display: inline;
  margin-left: 10px;
}
#mzts-btn-update{
  display: inline;
  margin-left: 10px;
}
#mzts-main-error{align-items:center;float:left;display:none;color:red;font-weight:bold;font-size:24px;height:28px;width:80%;text-align:center;margin:auto;}
#mzts-updates{float:right;font-size:0.75em;align-items:center;height:28px;text-align:right;margin-top:-1px;position:absolute;right:32px;z-index:102;}
#mzts-last_run{float:left;width:100%;}
#mzts-last_msg{float:left;width:100%;margin-top:-3px;}
#yesterday_spacing{height:0.85vw;}
.singleday_spacing{height:1.85vw;}

table.mzts-tinvolved{width:100%;text-align:right;}
table.mzts-tinvolved tr.mzts-thead{padding:2px;font-weight:bold;background:steelblue;color:#bae0fa;}
table.mzts-tinvolved tr.mzts-thead td{padding:2px 4px 2px 2px;}
table.mzts-tinvolved tr.mzts-thead td.mzts-row-num{text-align:center;}
table.mzts-tinvolved tr.mzts-trow:nth-child(odd){background:white;}
table.mzts-tinvolved tr.mzts-trow:nth-child(even){background:#bae0fa;}
table.mzts-tinvolved tr.mzts-trow td{padding:2px 4px 2px 2px;color:black;white-space:-moz-pre-wrap !important;word-break: break-all;}
table.mzts-tinvolved tr.mzts-trow td.mzts-row-num{text-align:center;word-break:normal;}

.chart_time_container{width:100%;float:left;display:flex; flex-wrap:nowrap;}
.chart_time{overflow:auto;float:left;height:230px;width:89%;}
.chart_time_86{overflow:auto;float:left;height:230px;width:86%;}
.chart_time_full{overflow:auto;float:left;height:275px;width:89%;}
.chart_time_full_domains{overflow-y:auto;float:left;height:275px;width:89%;}
.chart_time_full_domains_container, .chart_time_full_inbox0ext_container{position: relative;}
.chart_time_full_inbox0ext{overflow-y:auto;float:left;height:275px;width:100%;}
.chart_inbox0_extended_orderby{text-align:right;}
.chart_inbox0_extended_close_btn{width:fit-content;text-align:right;float:right;margin-top:11px;}
.chart_inbox0_extended_table{width:100%;}
.chart_inbox0_extended_title{text-align:left;}
.chart_inbox0_info{width:100%;float:left;}
.chart_inbox0{width:80%;height:310px;float:left;overflow:auto;}
.chart_inbox0_datemsg{float:right;max-width:20%;min-width:90px;height:220px;}
.chart_inbox0_orderbtn{cursor:pointer;text-decoration:underline;color:#3593dd;}
.chart_inbox0_extended_sorticon{position: relative;top:4px;filter: invert(1)};
.legend-time{float:right;font-size:12px;padding-top:8px;}
.legend-time ul{list-style-type:none;margin:0;padding:0;}
.legend-time ul li{white-space: nowrap;}
.legend-time ul li.day_today_title{font-weight:bold;}
.inbox0_inboxmsg_unread{color:grey;}
.chart_many_days{overflow:auto;float:left;height:370px;width:100%;}
.chart_customqry{overflow-x:scroll;float:left;height:370px;width:100%;}
.dp__main {
    width: 21vw !important;
    display: inline-block;
    margin: 0px 10px;
}
#customqry_update_btn{
  margin: 0px 10px;
}
.bookmarkmenu{
  cursor: pointer;
}
.filters_btn{
  cursor: pointer;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.mzts-execution-time{
  font-style: italic;
  font-size: smaller;
  position: absolute;
  right: 46px;
  top: 12px;
  min-width: 11em;
}
.mzts-last-exec{
  font-style: italic;
  font-size: smaller;
  position: absolute;
  right: 46px;
  top: 0px;
  min-width: 11em;
}
#customqry_menu{
  display: inline-block;
  position: relative;
  top: 11px;
  left: 4px;
}

._7days_aggregate_data{
  font-size:0.9em;
  font-weight:normal;
  color:grey;
  float:right;
}

.tooltip-light {
	border-radius: 5px;
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
  width: fit-content;
}
.tooltip-light .tooltip-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: center;
  white-space: nowrap;
}

#customqry_dashboard{
  position: fixed;
  top:4em;
  background-color: #f1f9fd;
  width: 100%;
  padding-bottom: 5px;
  z-index: 1;
}

.dp__input{
  padding: 3px 30px 3px 40px !important;
  font-size: 15px !important;
}

.spinner_small{
  position: relative;
  top: 4px;
}

.spinner_small_absolute{
  position: absolute;
}

.email_list_container {
  position: relative;
  display: inline-block;
}

.email_list_span{
  cursor: pointer;
}

.email_list_tooltip_text {
  visibility: visible;
  width: fit-content;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 6px;
  position: absolute;
  z-index: 100;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
  border: 1px #555 solid;
}

._note_tooltip_text {
  visibility: visible;
  max-width: 23em;
  width: fit-content;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 6px;
  position: absolute;
  z-index: 100;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
  border: 1px #555 solid;
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  white-space: normal;
}

td.align_end {
  text-align: end;
}
.count_sent{
  color: rgb(31, 119, 180);
  font-weight: bold;
}
.count_rcvd{
  color:rgb(255, 127, 14);
  font-weight: bold;
}
.info_subtitle{
  font-weight: bold;
  font-size: 1.1em;
}

#customqry_datamsg{
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 1rem;
}

.bday_icon{
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.bday_icon img{
  width: 16px;
  height: 16px;
}

#thstats_ver_info{
  position: absolute;
  right: 5px;
  bottom: 2px;
  font-style: italic;
  font-size: smaller;
}

#mzts-warn-msg{
  background: #df3d3d;
  color: white;
  PADDING: 2px 1rem;
  margin-left: 3rem;
  border-radius: 8px;
}

.export_data{
  cursor: pointer;
  font-size: small;
}

.export_data:hover{
  text-decoration: underline;
}

.export_main_btn{
  position: absolute;
  right: 15px;
  top: 0rem;
  z-index: 1000;
}

.mx-context-menu-item.disabled {
  cursor: default !important;
  color: var(--mx-menu-text) !important;
}

.my-menu-title{
  font-weight: bold;
}

.my-menu-sperator{
  height: 1px;
  width: 7em;
  background-color: var(--mx-menu-disabled-text);
}

.exportdata_menu{
  position: fixed;
  right: 5px;
  top: 1.8rem;
  z-index: 1000;
}
.exportmenu{
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 1000;
}

.chart_inbox0_percent{
  text-align: center;
  width: fit-content;
  position: absolute;
  right: 1em;
  top: 2.2em;
  background-color: #4682b4;
  color:#fff;
  border-radius: 15px;
  padding: 9px;
}
.chart_inbox0_percent_num{
    font-weight: bold;
    font-size: 1.5em;
}

#customqry_adv_filters{
  padding: 5px 10px;
  background: #3593dd;
  border: #7fb5da;
  border-radius: 7px;
  margin: 0px 5px;
  color: white;
}

.adv_filters_main_title{
  font-weight: bold;
  font-size: 1.05em;
  border-bottom: 2px solid #f1f9fd;
  padding-bottom: 3px;
  margin-bottom: 9px;
}

#filterFolder_container{
  width: 100%;
}

table#customqry_adv_filters_table{
  width: 100%;
}

table#customqry_adv_filters_table td{
  width: 50%;
  padding-right: 5px;
  vertical-align: top;
}

#filterSubject{
  min-height: calc(var(--ms-border-width, 1px)*2 + var(--ms-font-size, 1rem)*var(--ms-line-height, 1.375) + var(--ms-py, .5rem)*2);
  width: 100%;
  background: var(--ms-bg);
  color: var(--ms-caret-color);
  border: var(--ms-border-width,1px) solid var(--ms-border-color);
  padding: 0.5rem;
}

#filterReadUnread, #filterFlaggedUnflagged{
  min-height: calc(var(--ms-border-width, 1px)*2 + var(--ms-font-size, 1rem)*var(--ms-line-height, 1.375) + var(--ms-py, .5rem)*2);
  background: var(--ms-bg);
  color: var(--ms-caret-color);
  border: var(--ms-border-width,1px) solid var(--ms-border-color);
  padding: 0.5rem;
  width: 10em;
}

.td-30{
  text-align: left;
  width: 30% !important;
}

.btn {
  padding: 5px 7px;
  background-color: #0078d7;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.btn_group{
  width:fit-content;
  display: inline-block;
  position: relative;
  top: 2px;
}

.btn_small {
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 7px;
  background-color: #0078d7;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.80em;
}

.btn_small_start{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.btn_small_end{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.btn_small_single{
  border-radius: 12px;
}

.btn_disabled {
  background-color: #7a7a7a;
  color: white;
  cursor: unset;
}

.spacer {
  flex-grow: 1;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  #heading_wrapper {
      background-image: -moz-linear-gradient(rgba(134, 129, 129, 0), rgb(79, 79, 79));
      background-color: #333;
      color: #f0f0f0;
  }

  table.mzts-tinvolved tr.mzts-thead {
      background: #313131;
      color: #ddd;
  }

  table.mzts-tinvolved tr.mzts-trow:nth-child(odd) {
      background: #646464;
  }

  table.mzts-tinvolved tr.mzts-trow:nth-child(even) {
      background: #444;
  }

  table.mzts-tinvolved tr.mzts-trow td {
      color: #ddd;
  }

  .inbox0_inboxmsg_unread {
      color: #ccc;
  }

  .tooltip-light {
      border-color: #666;
      background: #555;
      color: #ddd;
  }

  #customqry_dashboard {
      background-color: #222;
  }

  ._7days_aggregate_data {
      color: #aaa;
  }

  .email_list_tooltip_text, ._note_tooltip_text {
    background-color: #555;
    color: #fff;
    border-color: white;
  }

  a {
    color: #79bcff;
  }

  a:visited {
      color: #79bcff;
  }

  .chart_inbox0_percent{
    background-color: #555;
  }

  #customqry_adv_filters{
    background: #4d4d4d;
    border: #333;
  }

  .btn {
    background-color: #1e88e5;
    color: #ffffff;
  }

  .btn_small {
    background-color: #1e88e5;
    color: #ffffff;
  }

  .btn_disabled {
    background-color: #8b8b8b;
    color: white;
  }

 .chart_inbox0_extended_sorticon{filter: invert(0)};

}
