div#miczDescription{
    padding:0px 15px 0px 15px;
    font-size: 13px;
}

div#miczDescription h1{
    font-size: 15px;
}

div#miczDonation{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgb(228, 255, 255);
    border: 1px solid rgb(212, 255, 255);
    padding: 5px;
}

.paddingbottom30{
    padding-bottom: 30px;
}

table.miczPrefs {
    padding: 10px;
    border-spacing: 0px;
}

table.miczPrefs td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding: 2px;
}

table.miczPrefs td.grouptitle{
    border:0;
    vertical-align: top;
    padding: 2px;
    font-weight: bold;
}

table.miczPrefs tr:first-child td {
    border-top: none;
}
  
table.miczPrefs  tr:last-child td {
    border-bottom: none;
}

div#miczDescription h1{
    text-align: center;
    margin-bottom: 0px;
}

div#miczDescription p{
    text-align: justify;
    margin-top: 0px;
}

span.dims_label{
    display: inline-block;
}

input#_involved_num, input#_many_days, input#datepicker_locale{
    width: 60px;
}

.td_padding_right{
    padding-right: 15px !important
}

div.intro_main{
  margin-bottom: 10px;
  margin-left: 12px;
  font-style: italic;
}

div.intro_change_warn{
    color: darkred;
    background-color: rgb(255, 240, 240);
    padding: 15px;
    border-radius: 8px;
    width: fit-content;
}

div.intro_info{
    margin: 0px auto 10px auto;
    width: 47vw;
    text-align: center;
    font-style: italic;
}

div.intro_info_link{
    margin-top:10px;
    font-size: large;
}